In [1]:
from data_preprocessing.utils import get_freq_dict_from_col
from data_preprocessing.csv_to_db_entry import get_candidate_target_datasets, match_candidate_target_datasets
import pandas as pd
import re

path_to_candidate_dataset = r"test_data/dataset1/candidate_dataset.csv"
path_to_target_dataset = r"test_data/dataset1/target_dataset.csv"

dmetaphone_cols = ["first_name", "surname", "city"]
drop_columns = ["code"]

df_c, df_t = get_candidate_target_datasets(path_to_candidate_dataset, 
                                             path_to_target_dataset,
                                             candidate_dmetaphone_cols=dmetaphone_cols,
                                             target_dmetaphone_cols=dmetaphone_cols,
                                             candidate_drop_columns = drop_columns,
                                             target_drop_columns = drop_columns)

In [2]:
df_matched = match_candidate_target_datasets(df_c,df_t)

In [3]:
pd.options.display.max_colwidth = 1000
df_matched.sort_values("match_score").head()

,auto_generated_row_id_can,auto_generated_row_id_tar,concat_all_can,concat_all_tar,match_score
58,candidate_59,target_97,female white emily manchester 2009 aug 02 at aml mnxs,female emily white manchester 2009 aug 02 aml at mnxs,1.032192e-22
18,candidate_19,target_16,jones tom bristol 1992 feb 21 jns tm prst,male tom jones bristol 1992 feb 21 tm jns prst,2.112000e-22
38,candidate_39,target_48,male alex smith fife 2014 may 10 alks sm0 ff,male alex smith fife 2014 may 10 alks sm0 ff,4.762800e-22
49,candidate_50,target_95,female emma white glasgow 2002 jul 14 am at klsk,female emma white glasgow 2002 jul 14 am at klsk,6.812467e-22
72,candidate_73,target_38,male matt williams london 2007 oct 18 mt alms lntn,male matt williams london 2007 oct 18 mt alms lntn,9.953280e-22